@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}
ul,ol,dl {
	list-style: none;
	margin: 0;
	padding: 0;
}
li,dt,dd {
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background: none;
}
img {
	border: none;
	vertical-align: top;
}
.clearFix:after {
	content: "";
	display: block;
	clear: both;
}
/*---------------cssreast end-----------------*/
#header {
	width: 100%;
	height: 64px;
	background: #373942;
}
#header
.headerWarp {
	margin: 0 auto;
	width: 1349px;
	height: 64px;
}
#header
.headerWarp {
	display: block;
}
#header
.headerWarp
h1 {
	float: left;
	margin-left: 85px;
	margin-right: 40px;
	padding-top: 4px;
	padding-left: 57px;
	width: 108px;
	height: 60px;
	font: 18px/60px "宋体";
	color: #fff;
	background: url(../img/logo.png) no-repeat;
}
#header
.headerWarp
.headerNav {
	float: left;
}
.headerWarp
.headerNav 
a {
	float: left;
	padding: 24px 20px;
	font-size: 14px;
	color: #fff;
}
/*--------------------开放版图定位-----------------------------*/
.headerNav
.headerLocation {
	display: none;
	position: relative;
}
.headerNav
.headerLocation
ul {
	position: absolute;
	left: -115px;
	bottom: -302px;
	padding-top: 18px;
	background: #2b2d34;
	width: 865px;
	height: 260px;
	z-index: 2;
}
.headerNav
.headerLocation
ul
li {
	float: left;
	width: 140px;
	margin-left: 20px;
	margin-right: 10px;
	
}
.headerNav
.headerLocation
ul
li
h5 {
	padding-left: 45px;
	font: 14px/40px "宋体";
	color: #5eb5fe;
	background: url(../img/fangzi.png) no-repeat 23px 12px;
}
.headerNav
.headerLocation
ul
li
p {
	width: 116px;
	padding-left: 24px;
	font: 12px/42px "宋体";
	border-bottom: 1px solid #383a45;
}
.headerWarp
.headerNav 
.arrow:hover .headerLocation{
	display: block;
}
.headerWarp
.headerNav 
.headerLocation
ul
li
p:hover {
	color: #5eb5fe;
}
/*--------------------开放版图 end----------------------------*/
/*--------------------文档中心--------------------------------*/
.headerWarp
.headerNav 
.headerLocation2 {
	position: relative;
	width: 110px;
	display: none;
}
.headerNav 
.headerLocation2
ul {
	position: absolute;
	left: -20px;
	bottom: -203px;
	width: 100px;
	padding-top: 20px;
	padding-left: 10px;
	background: #2b2d34;
	z-index: 2;
	height: 160px;
}
.headerNav 
.headerLocation2
ul
li {
	font: 12px/42px "宋体";
	width: 80px;
	padding-left: 8px;
	border-bottom: 1px solid #383a45;
}
.headerWarp
.headerNav 
.arrow:hover .headerLocation2{
	display: block;
}
.headerWarp
.headerNav 
.headerLocation2
li:hover {
	color: #5eb5fe;
}
/*--------------------文档中心 end----------------------------*/
.headerWarp
.headerNav 
.arrow {
	float: left;
	padding: 24px 20px;
	width: 72px;
	font-size: 14px;
	color: #fff;
	background: url(../img/jiantou-.png) no-repeat;
}
.headerWarp
.headerNav 
a:hover {
	background: #2b2d34;
}
.headerWarp
.headerNav 
.arrow:hover {
	background: url(../img/jiantoubottom.png) no-repeat;
}
.headerWarp
.headerLogin {
	float: left;
	padding-top: 24px;
	margin-left: 236px;
}
.headerWarp
.headerLogin
.headerSearch {
	float: left;
	margin-right: 25px;
	width: 18px;
	height: 16px;
	background: url(../img/sousuo.png) no-repeat;
}

.headerWarp
.headerLogin
.headerSmallBell {
	float: left;
	width: 17px;
	height: 20px;
	background: url(../img/biao1.png) no-repeat 0 1px;
	margin-right: 11px;
}
.headerWarp
.headerLogin
.headerSmallBell:hover {
	background: url(../img/biao2.png) no-repeat 0 1px;
}
.headerWarp
.headerLogin
.headerL {
	float: left;
	padding-top: 2px;
	color: #cdd4dc;
}
/*-----header css end-----------*/
#project {
	width: 100%;
	height: 700px;
	background: #302c30;
	
}
#project
.projectWarp {
	margin: 0 auto;
	width: 1349px;
	height: 700px;
	background: url(../img/solutionBg.png) no-repeat;
}
#project
.projectWarp
h2 {
	padding-top: 82px;
	margin-left: 595px;
	font-size: 38px;
	color: #fff;
	font-family: "微軟正黑體";
}
#project
.projectWarp
.projectP1 {
	margin-top: 34px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
#project
.projectWarp
.projectList {
	margin-top: 84px;
	margin-left: 75px;
}
.projectWarp
.projectList 
li {
	float: left;
	margin-right: 40px;
	
}
/*-----------------      hot         ----------------------------*/
#project
.projectWarp
.hot
.projectPlace {
	position: relative;
	width: 270px;
	height: 310px;
}
.projectWarp
.hot
.projectPlace
.placeImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
}
.projectWarp
.hot
.projectPlace
.placeBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
	background: #000;
	opacity: .5;
}
.projectWarp
.hot
.projectPlace
.placeTop {
	position: absolute;
	border-radius: 50%;
	top: -34px;
	left: 101px;
	width: 68px;
	height: 68px;
	background: #fff url(../img/ico-solHot1.png)  no-repeat;
}
.projectWarp
.hot
.projectPlace
.placeTitle {
	position: absolute;
	top: 110px;
	left: 55px;
	width: 160px;
	height: 19px;
	background: #fff;
	color: #0096da;
	text-align: center;
	padding-top: 11px;
	font-size: 20px;
}
.projectWarp
.hot
.projectPlace
.placeCenter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 208px;
	height: 118px;
	background: #fff;
	color: #000;
	text-align: center;
	padding-top: 52px;
	font: 14px/24px "宋体";
	padding-left: 31px;
	padding-right: 31px;
}
.projectWarp
.hot
.projectPlace
.placeIcon {
	position: absolute;
	bottom: 33px;
	left: 121px;
	width: 27px;
	height: 16px;
	background: url(../img/solDownArray.png) no-repeat;
}
.hot
.projectPlace
a:hover .placeCenter{
	background: #1f91ce;
	color: #fff;
}
.hot
.projectPlace
a:hover .placeTitle {
	background: #1f91ce;
	color: #fff;
}
.hot
.projectPlace
a:hover .placeTop {
	background: #1f91ce url(../img/ico-solHot1Hv.png) no-repeat;
}
.hot
.projectPlace
a:hover .placeBG  {
	display: none;
}
/*-----------------      hot end         ----------------------------*/
/*-----------------      hand            ----------------------------*/
#project
.projectWarp
.hand
.projectPlace {
	position: relative;
	width: 270px;
	height: 310px;
}
.projectWarp
.hand
.projectPlace
.placeImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
}
.projectWarp
.hand
.projectPlace
.placeBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
	background: #000;
	opacity: .5;
}
.projectWarp
.hand
.projectPlace
.placeTop {
	position: absolute;
	border-radius: 50%;
	top: -34px;
	left: 101px;
	width: 68px;
	height: 68px;
	background: #fff url(../img/ico-solHot2.png)  no-repeat;
}
.projectWarp
.hand
.projectPlace
.placeTitle {
	position: absolute;
	top: 110px;
	left: 55px;
	width: 160px;
	height: 19px;
	background: #fff;
	color: #0096da;
	text-align: center;
	padding-top: 11px;
	font-size: 20px;
}
.projectWarp
.hand
.projectPlace
.placeCenter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 208px;
	height: 118px;
	background: #fff;
	color: #000;
	text-align: center;
	padding-top: 52px;
	font: 14px/24px "宋体";
	padding-left: 31px;
	padding-right: 31px;
}
.projectWarp
.hand
.projectPlace
.placeIcon {
	position: absolute;
	bottom: 33px;
	left: 121px;
	width: 27px;
	height: 16px;
	background: url(../img/solDownArray.png) no-repeat;
}
.hand
.projectPlace
a:hover .placeCenter{
	background: #1f91ce;
	color: #fff;
}
.hand
.projectPlace
a:hover .placeTitle {
	background: #1f91ce;
	color: #fff;
}
.hand
.projectPlace
a:hover .placeTop {
	background: #1f91ce url(../img/ico-solHot2Hv.png) no-repeat;
}
.hand
.projectPlace
a:hover .placeBG  {
	display: none;
}
/*-----------------      hand  end       ----------------------------*/
/*-----------------      business        ----------------------------*/
#project
.projectWarp
.business
.projectPlace {
	position: relative;
	width: 270px;
	height: 310px;
}
.projectWarp
.business
.projectPlace
.placeImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
}
.projectWarp
.business
.projectPlace
.placeBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
	background: #000;
	opacity: .5;
}
.projectWarp
.business
.projectPlace
.placeTop {
	position: absolute;
	border-radius: 50%;
	top: -34px;
	left: 101px;
	width: 68px;
	height: 68px;
	background: #fff url(../img/ico-solHot3.png)  no-repeat;
}
.projectWarp
.business
.projectPlace
.placeTitle {
	position: absolute;
	top: 110px;
	left: 55px;
	width: 160px;
	height: 19px;
	background: #fff;
	color: #0096da;
	text-align: center;
	padding-top: 11px;
	font-size: 20px;
}
.projectWarp
.business
.projectPlace
.placeCenter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 208px;
	height: 118px;
	background: #fff;
	color: #000;
	text-align: center;
	padding-top: 52px;
	font: 14px/24px "宋体";
	padding-left: 31px;
	padding-right: 31px;
}
.projectWarp
.business
.projectPlace
.placeIcon {
	position: absolute;
	bottom: 33px;
	left: 121px;
	width: 27px;
	height: 16px;
	background: url(../img/solDownArray.png) no-repeat;
}
.business
.projectPlace
a:hover .placeCenter{
	background: #1f91ce;
	color: #fff;
}
.business
.projectPlace
a:hover .placeTitle {
	background: #1f91ce;
	color: #fff;
}
.business
.projectPlace
a:hover .placeTop {
	background: #1f91ce url(../img/ico-solHot3Hv.png) no-repeat;
}
.business
.projectPlace
a:hover .placeBG  {
	display: none;
}
/*-----------------      business end    ----------------------------*/
/*-----------------      industry        ----------------------------*/
#project
.projectWarp
.industry
.projectPlace {
	position: relative;
	width: 270px;
	height: 310px;
}
.projectWarp
.industry
.projectPlace
.placeImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
}
.projectWarp
.industry
.projectPlace
.placeBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	height: 140px;
	background: #000;
	opacity: .5;
}
.projectWarp
.industry
.projectPlace
.placeTop {
	position: absolute;
	border-radius: 50%;
	top: -34px;
	left: 101px;
	width: 68px;
	height: 68px;
	background: #fff url(../img/ico-solHot4.png)  no-repeat;
}
.projectWarp
.industry
.projectPlace
.placeTitle {
	position: absolute;
	top: 110px;
	left: 55px;
	width: 160px;
	height: 19px;
	background: #fff;
	color: #0096da;
	text-align: center;
	padding-top: 11px;
	font-size: 20px;
}
.projectWarp
.industry
.projectPlace
.placeCenter {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 208px;
	height: 118px;
	background: #fff;
	color: #000;
	text-align: center;
	padding-top: 52px;
	font: 14px/24px "宋体";
	padding-left: 31px;
	padding-right: 31px;
}
.projectWarp
.industry
.projectPlace
.placeIcon {
	position: absolute;
	bottom: 33px;
	left: 121px;
	width: 27px;
	height: 16px;
	background: url(../img/solDownArray.png) no-repeat;
}
.industry
.projectPlace
a:hover .placeCenter{
	background: #1f91ce;
	color: #fff;
}
.industry
.projectPlace
a:hover .placeTitle {
	background: #1f91ce;
	color: #fff;
}
.industry
.projectPlace
a:hover .placeTop {
	background: #1f91ce url(../img/ico-solHot4Hv.png) no-repeat;
}
.industry
.projectPlace
a:hover .placeBG  {
	display: none;
}
/*-----------------      industry end    ----------------------------*/
/*-----------    project end    -------------*/
#hotSpecial {
	width: 100%;
	height: 736px;
	background: #f5f5f5;
}
#hotSpecial
.hotSpecialWarp {
	margin: 0 auto;;
	width: 1349px;
	height: 736px;
	background: #f5f5f5;
}
#hotSpecial
.hotSpecialWarp 
h2 {
	padding-top: 82px;
	font-size: 38px;
	color: #000;
	text-align: center;
	font-family: "微軟正黑體";
}
#hotSpecial
.hotSpecialWarp 
.hotSpecialP1 {
	margin-top: 35px;
	color:#000;
	font-size: 14px;
	text-align: center;
}
#hotSpecial
.hotSpecialWarp
.specialBox {
	margin-top: 85px;
	margin-left: 75px;	
}
.hotSpecialWarp
.specialBox
.newSpecial {
	float: left;
	width: 379px;
	height: 211px;
	padding-top: 152px;
	padding-left: 188px;
	background: url(../img/TB15agDLVXXXXa7XXXXXXXXXXXX-576-363.jpg) no-repeat;
}
.hotSpecialWarp
.specialBox
.newSpecial
.specialList {
	width: 328px;
}
.specialBox
.newSpecial
.specialList
li {
	padding-left: 15px;
	width: 313px;
	font: 12px/36px "宋体";
	background: url(../img/newTrendsTime.png) no-repeat 0 12px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	border-bottom: 1px dashed #dbdbdd;
}
.specialBox
.newSpecial
.specialList
li
a {
	color: #0089cd;
}
.specialBox
.newSpecial
.specialList
li
a
span {
	color: #000;
}
.specialBox
.newSpecial
.specialList
li
a:hover {
	text-decoration: none;
}
.specialBox
.newSpecial
.specialList
li
a:hover span{
	color: #0089cd;
}
/*------------newSpecial end----------------*/
.hotSpecialWarp
.specialBox
.dataSpecial {
	float: left;
	margin-left: 24px;
	width: 516px;
	height: 266px;
	background: url(../img/BG01.png) no-repeat;
	padding-top: 97px;
	padding-left: 84px;
}
.specialBox
.dataSpecial
.dataSpecialList1 {
	float: left;
}
.dataSpecial
.dataSpecialList1
dt {
	color: #fff;
	font-size: 24px;
	font-family: "微软雅黑";
	padding-bottom: 12px;
}
.dataSpecial
.dataSpecialList1
dd {
	color: #fff;
	font: 16px/34px "宋体";
	padding-left: 26px;
}
.dataSpecial
.dataSpecialList1
dd
a {
	padding: 3px 12px;
	color: #fff;
	border-radius: 8px;
	background: #44afe4;
	font-size: 12px;
}
.dataSpecial
.dataSpecialList1
dd
a:hover {
	background: #09C;
}
/*-------------------*/
.hotSpecialWarp
.specialBox
.dataSpecial {
	float: left;
	margin-left: 24px;
	width: 516px;
	height: 266px;
	background: url(../img/BG01.png) no-repeat;
	padding-top: 97px;
	padding-left: 84px;
}
.specialBox
.dataSpecial
.dataSpecialList2 {
	float: left;
	margin-left: 135px;
}
.dataSpecial
.dataSpecialList2
dt {
	color: #fff;
	font-size: 24px;
	font-family: "微软雅黑";
	padding-bottom: 12px;
}
.dataSpecial
.dataSpecialList2
dd {
	color: #fff;
	font: 16px/34px "宋体";
	padding-left: 26px;
}
.dataSpecial
.dataSpecialList2
dd
a {
	padding: 3px 12px;
	color: #fff;
	border-radius: 8px;
	background: #44afe4;
	font-size: 12px;
}
.dataSpecial
.dataSpecialList2
dd
a:hover {
	background: #09C;
}
.dataSpecial
.dataSpecialList2
.jqqd {
	background: #aaaaaa;
}
.dataSpecial
.dataSpecialList2
dd
.jqqd:hover {
	background: #aaaaaa;
}
/*---------------------------------------------------*/
#handTao {
	width: 100%;
	height: 757px;
	background: #fff;
}
#handTao 
.handTaoWarp {
	margin: 0 auto;
	width: 1349px;
	height: 757px;
	background: #fff;
}
#handTao 
.handTaoWarp
h2 {
	padding-top: 92px;
	text-align: center;
	font-size: 38px;
	font-family: "微軟正黑體";
	color: #000;
}
#handTao 
.handTaoWarp
.handTaoP1 {
	margin-top: 37px;
	font-size: 14px;
	color: #000;
	text-align: center;
}
#handTao 
.handTaoWarp
.handTaoBox {
	margin-top: 34px;
	margin-left: 77px;
}
.handTaoWarp
.handTaoBox
.handTaoLeft {
	float: left;
	width: 354px;
	height: 79px;
	background: url(../img/TB1kzZeLFXXXXbdXpXXTs3qNFXX-578-363.png) no-repeat;
	padding-left: 222px;
	padding-top: 284px;
}
.handTaoWarp
.handTaoBox
.handTaoLeft
a {
	color: #fff;
	font-size: 14px;
	padding: 11px 35px 8px 35px;
	background: #00cd6f;
	border: 2px solid #fff;
	border-radius: 12px;
}
.handTaoWarp
.handTaoBox
.handTaoLeft
a:hover {
	background: #393;
	text-decoration: none;
}
/*------*/
.handTaoWarp
.handTaoBox
.handTaoRight {
	float: left;
	margin-left: 45px;
	width: 577px;
	height: 364px;
	background: url(../img/TB1W8_2LFXXXXbpXXXXfBaONXXX-577-364.png) no-repeat;
}
/*-----------------------------------------------*/
#baseMerchant {
	width: 100%;
	height: 703px;
	background: #f5f5f5;
}
#baseMerchant
.baseMerchantWarp {
	margin: 0 auto;
	width: 1349px;
	height: 703px;
	background: #f5f5f5;
}
#baseMerchant
.baseMerchantWarp
h2 {
	padding-top: 82px;
	font-size: 38px;
	color: #000;
	text-align: center;
	font-family: "微軟正黑體";
}
#baseMerchant
.baseMerchantWarp
.baseMerchantP1 {
	margin-top: 35px;
	color:#000;
	font-size: 14px;
	text-align: center;
}
#baseMerchant
.baseMerchantWarp
.baseMerchantList {
	margin-top: 60px; 
	margin-left: 90px;
	width: 1200px;
}
.baseMerchantWarp
.baseMerchantList
li {
	float: left;
	margin-right: 30px;
	margin-top: 25px;
	width: 210px;
	height: 180px;
}
.baseMerchantWarp
.baseMerchantList
.baseMDW {
	position: relative;	
	width: 210px;
	height: 180px;
}
.baseMerchantList
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: 0 0;
}
.baseMerchantList
.baseMDW
.baseMText {
	position: absolute;	
	width: 141px;
	height: 34px;
	left: 0;
	bottom: 0;
	background: #eeeeee;
	font-size: 18px;
	padding-top: 16px;
	padding-left: 69px;
	color: #000;
}
.baseMerchantList
.baseMDW
.baseMBG {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: #000;
	opacity: .5;
}
.baseMerchantList
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic1.png);
	z-index: 2;
}
.baseMerchantList
.baseMDW
a:hover .baseMBG {
	display: none;
}
.baseMerchantList
.baseMDW
a:hover .baseMText {
	background: #0089cd;
}
.BM2
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -246px 0;
}
.BM2
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic2.png);
	z-index: 2;
}
.BM3
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -488px 0;
}
.BM3
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic3.png);
	z-index: 2;
}
.BM4
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -738px 0;
}
.BM4
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic4.png);
	z-index: 2;
}
.BM5
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -984px 0;
}
.BM5
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic5.png);
	z-index: 2;
}
.BM6
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: 0 -211px;
}
.BM6
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic6.png);
	z-index: 2;
}
.BM7
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -246px -211px;
}
.BM7
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic7.png);
	z-index: 2;
}
.BM8
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -492px -211px;
}
.BM8
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic8.png);
	z-index: 2;
}
.BM9
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -738px -211px;
}
.BM9
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic9.png);
	z-index: 2;
}
.BM10
.baseMDW
.baseMImg {
	position: absolute;	
	width: 210px;
	height: 130px;
	left: 0;
	top: 0;
	background: url(../img/basic.jpg) no-repeat;
	background-position: -984px -211px;
}
.BM10
.baseMDW
.baseMIcon {
	position: absolute;	
	width: 40px;
	height: 40px;
	left: 89px;
	top: 50px;
	background: url(../img/merBasic10.png);
	z-index: 2;
}
.baseMDW
a:hover .baseMText {
	color: #fff;
}

/*--------------------------------------------------------------------*/
#industry {
	width: 100%;
	height: 753px;
	background: #fff;
}
#industry
.industryWarp {
	margin: 0 auto;
	width: 1349;
	height: 753px;
	background: #fff;
}
#industry
.industryWarp
h2 {
	padding-top: 92px;
	text-align: center;
	font-size: 38px;
	font-family: "微軟正黑體";
	color: #000;
}
#industry
.industryWarp
.industryP1 {
	margin-top: 37px;
	font-size: 14px;
	color: #000;
	text-align: center;
}
#industry
.industryWarp
.industryList {
	margin-top: 85px;
	margin-left: 75px;
}
#industry
.industryWarp
.industryList
li {
	float: left;
	margin-right: 1px;
}
.industryWarp
.industryList
.industryDW {
	position: relative;
	width: 239px;
	height: 320px;
}
.industryList
.industryDW
.industryImg {
	position: absolute;
	width: 239px;
	height: 320px;
	background: url(../img/111.jpg) no-repeat;
	background-position: 0 0px;
	left: 0;
	top: 0;
}
.industryList
.industryDW
.industryBG {
	position: absolute;
	width: 239px;
	height: 320px;
	background: #002334;/*#58536c;#6385a7;#d9d0c7;#d79691;*/
	opacity: .5;
	left: 0;
	top: 0;
}
.industryList
.industryDW
.industryText1 {
	position: absolute;
	width: 60px;
	height: 30px;
	background-position: 0 0px;
	left: 90px;
	top: 89px;
	color: #fff;
	font-size: 28px;
}
.industryList
.industryDW
.industryText2 {
	position: absolute;
	width: 86px;
	height: 15px;
	background-position: 0 0px;
	left: 77px;
	top: 127px;
	font-size: 14px;
	color: #fff;
}
.industryList
.industryDW
.industryBtn {
	position: absolute;
	padding: 9px 23px;
	width: 56px;
	height: 13px;
	border-radius: 10px;
	border: 1px solid #fff;
	color: #fff;
	left: 68px;
	top: 163px;
}
.industryWarp
.industryList
a:hover .industryBG{
	opacity: .8;
}
.industryWarp
.industryList
a:hover .industryBtn{
	background: #0089cd;
}
/*-------------   敬请期待      ---------------*/
.industryList
.IDU5
.industryDW
.jqqd {
	position: absolute;
	width: 130px;
	height: 30px;
	color: #fff;
	font-size: 30px;
	left: 50px;
	top: 120px;;
	display: none;
}
.industryWarp
.industryList
.IDU5
a:hover .jqqd {
	display: block;
}
.industryWarp
.industryList
.IDU5
a:hover .industryBtn {
	display: none;
}
.industryWarp
.industryList
.IDU5
a:hover .industryText1 {
	display: none;
}
.industryWarp
.industryList
.IDU5
a:hover .industryText2 {
	display: none;
}

/*-------------   敬请期待  end    ---------------*/
.industryList
.IDU2
.industryDW
.industryImg {
	position: absolute;
	width: 239px;
	height: 320px;
	background: url(../img/111.jpg) no-repeat;
	background-position: -240px 0px;
	left: 0;
	top: 0;
}
.industryList
.IDU2
.industryDW
.industryBG {
	position: absolute;
	width: 239px;
	height: 320px;
	background: #58536c;
	opacity: .5;
	left: 0;
	top: 0;
}
.industryList
.IDU3
.industryDW
.industryImg {
	position: absolute;
	width: 239px;
	height: 320px;
	background: url(../img/111.jpg) no-repeat;
	background-position: -480px 0px;
	left: 0;
	top: 0;
}
/*#58536c;#6385a7;#d9d0c7;#d79691;*/
.industryList
.IDU3
.industryDW
.industryBG {
	position: absolute;
	width: 239px;
	height: 320px;
	background: #6385a7;
	opacity: .5;
	left: 0;
	top: 0;
}
.industryList
.IDU4
.industryDW
.industryImg {
	position: absolute;
	width: 239px;
	height: 320px;
	background: url(../img/111.jpg) no-repeat;
	background-position: -720px 0px;
	left: 0;
	top: 0;
}
/*#58536c;#6385a7;#d9d0c7;#d79691;*/
.industryList
.IDU4
.industryDW
.industryBG {
	position: absolute;
	width: 239px;
	height: 320px;
	background: #d9d0c7;
	opacity: .5;
	left: 0;
	top: 0;
}
.industryList
.IDU5
.industryDW
.industryImg {
	position: absolute;
	width: 239px;
	height: 320px;
	background: url(../img/111.jpg) no-repeat;
	background-position: -960px 0px;
	left: 0;
	top: 0;
}
/*#58536c;#6385a7;#d9d0c7;#d79691;*/
.industryList
.IDU5
.industryDW
.industryBG {
	position: absolute;
	width: 239px;
	height: 320px;
	background: #d79691;
	opacity: .5;
	left: 0;
	top: 0;
}
/*----------------------------------------------*/
#video {
	width: 100%;
	height: 879px;
	background: #f5f5f5;
}
#video
.videoWrap {
	margin: 0 auto;
	width: 1349px;
	height: 879px;
	background: #f5f5f5;
}
#video
.videoWrap 
h2 {
	padding-top: 92px;
	text-align: center;
	font-size: 38px;
	font-family: "微軟正黑體";
	color: #000;
}
#video
.videoWrap 
.videoP1 {
	margin-top: 37px;
	font-size: 14px;
	text-align: center;
}
#video
.videoWrap 
.videoP1 
a {
	color: #0089cd;
	text-decoration: none;
}
#video
.videoWrap
img {
	margin-top: 83px;
	margin-left: 230px;
}
/*---------------------*/
#footerNav {
	width: 100%;
	height: 170px;
	background: #373942;
}
#footerNav
.footerNavWrap {
	margin: 0 auto;
	width: 1349px;
	height: 136px;
	padding-top: 34px;
}
.footerNavWrap
.feedback {
	margin-left: 105px;
	width: 1140px;
	border-bottom: 1px solid #222530;
	padding-bottom: 17px;
}
.footerNavWrap
.feedback
.feedbackP1 {
	float: left;
	color: #606058;
	font-size: 12px;
	margin-right: 40px;
	padding-left: 18px;
	background: url(../img/footerxin.png) no-repeat;
}
.feedback
.feedbackP1
a {
	color: #606058;
	font-size: 12px;
}
.footerNavWrap
.feedback
.feedbackP2 {
	float: left;
	color: #606058;
	font-size: 12px;
}
.footerNavWrap
.bottomNav {
	width: 1150px;
	margin-left: 105px;
}
.footerNavWrap
.bottomNav
a {
	float: left;
	margin-right: 40px;
	color: #606058;
	font: 12px/28px "宋体";
}